/* app css stylesheet */

@import url(http://fonts.googleapis.com/css?family=Fredericka+the+Great);

.titulo {
    text-align: center;
    font-size: 5em;
}

.content-box {
    padding: 20px;
    margin-bottom: 20px;
    height: 850px;
    overflow-y: auto;
}

.row { max-width: 100%; }
.row h1 { color: white; }
.row p {
    color: white;
    font-size: 1.5em;
}

.main-image {
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    padding: 0;
    height: 850px;
}

/* Angular UI Bootstrap fix */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
    background: url('../img/fundo.png') no-repeat center center fixed;
    color:  #6a452a;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.frederika {
    font-family: 'Fredericka the Great', cursive;
}

.mapa {
    width:600px;
    height:300px;
}

.top-space {
    margin-top: 120px;
}


.frase-titulo {
    font-size: 2em;
}

.google-form {
    width: 100%;
    height: 100%;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */
.navbar-brand,
.navbar-nav li a {
    line-height: 50px;
    height: 50px;
    padding-top: 0;
    font-size: 2em;
}

.navbar .nav > li > a,
.navbar .nav > li.current-menu-item > a,
.navbar .nav > li.current-menu-ancestor > a {
    color: #986d4d;
}

.navbar .nav > li.active > a {
    color:  #1d0f02;
}

/* Adjust Menu colors - Hover */
.navbar .nav > li > a:hover {
    color:          white;
    text-shadow:    none;
}

/* ANIMATIONS
============================================================================= */
.page-home {
    bottom:0;
    top: 0;
    padding-top: 100px;
    position: absolute; 
    text-align: center;
    width:95%; 
}

.ng-enter       { z-index: 8888; }
.ng-leave       { z-index: 9999; }

.page-home.ng-leave        {
    -webkit-animation: slideOutLeft 0.5s both ease-in;
    -moz-animation: slideOutLeft 0.5s both ease-in;
    animation: slideOutLeft 0.5s both ease-in;   
}
.page-home.ng-enter 		{  
    -webkit-animation: slideInRight 0.5s both ease-in;
    -moz-animation: slideInRight 0.5s both ease-in;
    animation: slideInRight 0.5s both ease-in;    
}

/* slide in from the right */
@keyframes slideInRight {
    from 	{ transform: translateX(100%); }
    to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from 	{ -moz-transform: translateX(100%); }
    to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from 	{ -webkit-transform: translateX(100%); }
    to 		{ -webkit-transform: translateX(0); }
}

/* slide out from the left */
@keyframes slideOutLeft {
    to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {	
    to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
    to 		{ -webkit-transform: translateX(-100%); }
}

@media screen and (min-width: 1150px) and (max-width: 1400px) {

    .google-form {
	width: 100%;
	height: 480px;
    }
    
    .gift-store {
	width: 250px;
	height: auto;
    }
    
    .top-space {
	margin-top: 80px;
    }
    
    .mapa {
	width:400px;
	height:200px;
    }
    
    .main-image {
	height: 620px;		
    }

    .content-box {
	height: 620px;		
    }

    .titulo {
	font-size: 3em;
    }
    
    .page-home {
	padding-top: 50px;
    }
    
    .navbar-brand,
    .navbar-nav li a {
	line-height: 50px;
	height: 50px;
	padding-top: 0;
	font-size: 1.5em;
    }
}

@media screen and (max-width: 1150px) {

    .google-form {
	width: 100%;
	height: 480px;
    }
    
    .gift-store {
	width: 250px;
	height: auto;
    }
    
    .top-space {
	margin-top: 80px;
    }
    
    .mapa {
	width:400px;
	height:200px;
    }
    
    .main-image {
	height: 600px;
    }

    .content-box {
	height: 620px;		
    }

    .titulo {
	font-size: 3em;
    }
    
    .page-home {
	padding-top: 50px;
    }
    
    .navbar-brand,
    .navbar-nav li a {
	line-height: 50px;
	height: 50px;
	padding-top: 0;
	font-size: 1.5em;
    }
    
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
	margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  	display:block !important;
    }
    
    /* Remove the padding we set earlier */
    .masthead,
    .marketing,
    .footer {
	padding-right: 0;
	padding-left: 0;
    }
}

/* Image grid */
ul.rig {
    list-style: none;
    font-size: 0px;
    margin-left: -2.5%; /* should match li left margin */
}
ul.rig li {
    display: inline-block;
    padding: 10px;
    margin: 0 0 2.5% 2.5%;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul.rig li img {
    max-width: 100%;
    height: auto;
    margin: 0 0 10px;
}
ul.rig li h3 {
    margin: 0 0 5px;
}
ul.rig li p {
    font-size: .9em;
    line-height: 1.5em;
    color: #999;
}
/* class for 2 columns */
ul.rig.columns-2 li {
    width: 47.5%; /* this value + 2.5 should = 50% */
}
/* class for 3 columns */
ul.rig.columns-3 li {
    width: 30.83%; /* this value + 2.5 should = 33% */
}
/* class for 4 columns */
ul.rig.columns-4 li {
    width: 22.5%; /* this value + 2.5 should = 25% */
}

@media (max-width: 480px) {
    ul.grid-nav li {
	display: block;
	margin: 0 0 5px;
    }
    ul.grid-nav li a {
	display: block;
    }
    ul.rig {
	margin-left: 0;
    }
    ul.rig li {
	width: 100% !important; /* over-ride all li styles */
	margin: 0 0 20px;
    }
}
