<div class="row">
  <div class="col-md-6">
    <img src="img/detalhe4.png" class="main-image" />
  </div>
  <div class="col-md-6">

    <div class="content-box"> 
      <h1 class="frederika titulo" style="font-size: 5em;">NOSSA HISTORIA</h1>

      <hr /><br />

      <p>
        <img src="img/porvictor.png" align="left" />
        O que é preciso para saber que duas pessoas estão ligadas pra sempre nesse mundo? Que serão parceiras para confidencialidade da vida? Essas já foram perguntas difíceis para mim, mas hoje são bem simples e fáceis de responder.
      </p>
      <p>
        A Mariana sempre foi um sonho para mim. Desde que a vi pela primeira vez no colégio (primeiro colegial em 1999… século passado!) já a tinha como a uma deusa grega: mulher de forte personalidade, absolutamente decidida, atlética como ninguém e sempre fortemente presente. Fiquei absolutamente pasmado com ela, mas nunca fui muito próximo até por medo. Imaginava que era visto como um ninguém por ela.
      </p>
      <p>
        Pois é, não cheguei nem perto de como eu queria que fosse. Terminamos o colegial como amigos, mas longe do sonho que tínhamos. Cada um foi para um canto (ela para estudar em Mogi e eu para estudar na zona oeste) e achei que não a veria mais tão cedo a não ser que fosse num encontro nostálgico dos colegas.
      </p>
      <p>
        Foi quando dez anos depois recebo uma mensagem dela mesma perguntando "quando vamos nos casar?". Foi a dica que eu precisava para conseguir alcançar o que eu sempre quis: estar com ela juntos como parceiros pra tudo nessa vida.
      </p>
      <p>
        E é assim que a vida nos dá dicas… o momento era perfeito para os dois e será agora sempre perfeito. A mensagem foi só o começo da descoberta e logo fui aprendendo que era a ela quem eu sempre amei e que é nessa sensação de se sentir amado que eu quero seguir com a vida. Te amo Mariana.
      </p>

      <hr />

      <p>
        <img src="img/pormariana.png" align="right" />
      Ainda no período escolar, eu conheci um cara.
        Irmão de um querido amigo de classe, educado, atencioso, cordial, amável, dono de um sorriso encantador, skatista… Um fofo!
      </p>
      <p>
        O que ninguém poderia imagniar é que aquele momento mudaria minha vida.
      </p>
      <p>
        Conservamos nossa amizade. Seguimos caminhos diferentes por 10 anos, até que… Após alguns reencontros da turma do colégio eu tive a certeza de que “esse cara” seria o homem da minha vida. Foram inúmeras as vezes em que cofidenciei a minha prima Carol… Sempre acreditando que com ele daria certo. Com ele, eu, seria feliz!
      </p>
      <p>
        Mensagens trocadas… O retorno da Oktoberfest… Um último SMS certeiro…
      </p>
      <p>
        E nos bastou o primeiro encontro para termos a certeza imediata de que nunca mais nos deixaríamos ir.
      </p>
      <p>Assim, todos os dias, um a um, se tornaram anos repletos de cumplicidades, pertinente a duas pessoas que vivem uma verdadeira história de afeto, amor, carinho, companheirismo, paixão e respeito.
      </p>
      <p>Victor Oliveira Nascimento, eu sempre acreditei que com você seria diferente!
      </p>
      <p>Te amo muito.</p>
      <hr>
    </div>
  </div>
</div>

