<div class="row">
    <div class="col-md-6">
	<img src="img/detalhe6.png" class="main-image" />
    </div>
    <div class="col-md-5" style="margin-top: 40px;">

	<h1 class="frederika titulo">Cerimônia</h1>
	<br />
	
	<p>Quinta-feira, 9 de Julho de 2015, às 20hs</p>
	<p style="font-size: 2em;">Buffet Villa Bisutti</p>
	<p>Rua Casa do Ator, 642 - Vila Olímpia, São Paulo - SP</p>
	<br />
	<hr />
	<br />
	<iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3656.1613434242004!2d-46.67969060000001!3d-23.5985459!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce57526e71292f%3A0x7d7c4d3f43e1d886!2sR.+Casa+do+Ator%2C+642+-+Vila+Olimpia%2C+S%C3%A3o+Paulo+-+SP!5e0!3m2!1spt-BR!2sbr!4v1423350134090"  frameborder="0" style="border:0; margin: 0 auto; display: block;"></iframe>
	
    </div>
</div>
