<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5" style="margin-top: 130px;">
	  <p style="font-size: 2em">Se você for movido por uma extrema generosidade, temos listas de presentes na loja:</p>
	  <br><br>
	  <a target="_blank" href="https://carrinho.americanas.com.br/lista-de-casamento/pages/BridalRegistryHomePage/bridalRegistryId/01-02-10932503/">
		  <img src="img/lista_americanas.png"/>
	  </a>
  </div>
  <div class="col-md-6">
    <img src="img/detalhe7.png" class="main-image" />
  </div>
</div>


