<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5 top-space" >
	  <h3 style="color: #FFFFFF">Se você for movido por uma extrema generosidade, temos listas de presentes na loja:</h3>
	  <br><br>
	  <a  target="_blank" href="https://carrinho.americanas.com.br/lista-de-casamento/pages/BridalRegistryHomePage/bridalRegistryId/01-02-10932503/">
		  <img class="gift-store" src="img/lista_americanas.png"/>
	  </a>
	  <br><br>
	  <a  target="_blank" href="http://www.tokstok.com.br">
	    <img class="gift-store" src="img/tokstok.jpg"/>
	  </a>
  </div>
  <div class="col-md-6">
    <img src="img/detalhe7.png" class="main-image" />
  </div>
</div>


