<div class="row">
	<div class="col-md-6">
		<img src="img/detalhe8.png" style="width: 100%" />
	</div>
	<div class="col-md-6" style="padding: 5% 0;">
	        <div class="content-box" style="padding: 10% 0;"> 
			<!-- <h1 class="frederika titulo" style="font-size: 4em;"></h1> -->
			<!-- <br /> -->
			<p>Para confirmar presença, clique no botão abaixo.
				<a href="http://goo.gl/forms/Y1nSbFqyl8">formulário de confirmação</a>
			</p>

			<p>Obrigado pelo carinho!</p>
			
		</div>
	</div>
</div>


