<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
  -->
<html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">		
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Celebração de Mariana e Victor</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.min.css">
    <link rel="stylesheet" href="bower_components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.min.css">
    <link rel="stylesheet" href="css/app.css"/>
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body ng-app="myApp">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background: #1d0f02;" ng-controller="MenuCtrl">
      <div class="container-fluid">
	<div class="navbar-header">
	  <button class="navbar-toggle"  ng-click="isCollapsed = !isCollapsed" type="button">
	    <span class="sr-only"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#/" style="color: #986d4d;">Mari e Victor</a>
	</div>
	<div class="navbar-collapse" collapse="isCollapsed">
	  <ul class="nav navbar-nav">
	    <li ng-class="{ active: isActive('/') }" ><a ng-click="isCollapsed = !isCollapsed" href="#/">Inicio</a></li>
	    <li ng-class="{ active: isActive('/aboutcouple') }"><a ng-click="isCollapsed = !isCollapsed" href="#/aboutcouple">Sobre o Casal</a></li>
	    <li ng-class="{ active: isActive('/gallery') }"><a ng-click="isCollapsed = !isCollapsed" href="#/gallery">Galeria</a></li>
	    <li ng-class="{ active: isActive('/aboutceremony') }"><a ng-click="isCollapsed = !isCollapsed" href="#/aboutceremony">A Cerimônia</a></li>
	    <li ng-class="{ active: isActive('/giftlist') }"><a ng-click="isCollapsed = !isCollapsed" href="#/giftlist">Lista de Presentes</a></li>
	    <li ng-class="{ active: isActive('/presence') }"><a ng-click="isCollapsed = !isCollapsed" href="#/presence">Confirme sua Presença</a></li>
	  </ul>
	</div>
      </div>
    </nav>

    <div class="container" style="width: 100%">
      <div class="page-home" ng-view></div>
    </div> 


    <!--[if lt IE 7]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser.
	  Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

    <!-- In production use:
	 <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
	 -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </body>
</html>
