<!-- Jumbotron -->
<div class="row">
  <div class="col-md-6">
    <img src="img/detalhe2.png" style="width: 100%" />
  </div>
  <div class="col-md-5 jumbotron" ng-controller="CommentCtrl">

    <form class="form-horizontal" role="form" ng-submit="postComment()">
      <p>Deixe seu recado!</p>
      <div class="form-group">
        <label for="usr">Nome:</label>
        <input type="text" class="form-control" id="user_name" ng-model="user_name">
      </div>
      <div class="form-group">
        <label for="content">Recado:</label>
        <input type="text" class="form-control" id="content" ng-model="content">
      </div>
      <div class="form-group">
        <input type="submit" class="form-control" value="Enviar"/>
      </div>

	<ul ng-repeat="comment in comments">
          <li>
	    <p><b><i>{{comment.user_name}}</b></i></p>
	    <p>{{comment.content}}</p>
	  </li>
	</ul>

    </form>

  </div>
</div>
